.app {
  height: 100%;
  background: rgb(34, 34, 34);
  background: linear-gradient(
    135deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(29, 29, 29, 1) 100%
  );
}

.text {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.logo {
  width: 70rem;
  margin-bottom: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .logo {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
}
